.WebWorker {
  ::-webkit-scrollbar {
    width: 0%;
  }
  .results-wrapper {
    white-space: pre-wrap;
    overflow: auto;
    height: calc(100vh - 13px - 30px - 10px);
    width: 90%;
    margin: 0 auto;
  }
}
